/* footer area style */
section.footer-area {
    color: #fff;
    .footer-logo{
        margin-top: 50%;
        @include max-xs{
            margin-top: 0;
            text-align: center;
            margin-bottom: 20px;
        }
        @include min-sm{
            margin-top: 0;          
            text-align: center;
        }
        
        @include min-md{
            margin-top: 25%;
        }
    }
    .single-footer {
        
        @include max-xs{
            margin-top: 10px;
        }

        @include min-sm{
            margin-top: 30px;
        }
        @include min-md{
            margin-top: 30px;
        }
        h3 {
            font-size: 25px;
            font-weight: 600;
            text-transform: capitalize;
        }
        ul {
            margin: 15px 0px;
            li {
                margin-bottom: 10px;
                font-size: 17px;
                font-weight: 500;
                i{
                    margin-right: 10px;
                }
                
                a {
                    color: #fff;                  
                    text-transform: capitalize;
                    transition: .3s;
                    &:hover{
                      color:$primary;
                    }

                }
            }
        }
    }
    
    .footer-bottom{
        margin-top:20px;
        .footer-social-icon{
            border-top: 1px solid #fff;
            margin: 20px 0px;
            padding: 20px 0px;
            @include max-xs{
                margin: 0;
                text-align: center;
            }
            a {
                color: #fff;
                padding: 0px 10px;
                transition: .3s;
               i {
                    font-size: 18px;
                }
                &:hover{
                    color:$primary;
                }
            }
        } 
        .footer-content{
            border-top: 1px solid #fff;
            margin: 20px 0px;
            padding: 20px 0px;
            @include max-xs{
                margin: 0;
            }
            p {
                text-align: right;
                text-transform: capitalize;
                font-size: 18px;
                font-weight: 500;
                @include max-xs{
                    text-align: center;
                }
                @include min-sm{
                    font-size: 15px;
                }
               
            }
        }
    }

}




