/* Section Title */
.section-title {
    text-align: center;
    margin-bottom: 70px;
    span {
        font-size: 25px;
        font-family: 'Oleo Script', cursive;     
    }
    h3 {
        font-size: 45px;
        text-transform: capitalize;
        font-weight: 700;
        margin-top: 10px;
        position: relative;
        padding-bottom: 20px;
        &::before {
            position: absolute;
            content: "";
            width: 90px;
            height: 2px;
            background: tomato;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &::after {
            position: absolute;
            content: "";
            width: 45px;
            height: 2px;
            background: tomato;
            left: 50%;
            bottom: -8px;
            transform: translate(-50%);
        }
    }
}